.sidebar-func-locator {
    * { box-sizing: border-box; }

    padding: 0;

    .title {
        text-align: center;
        padding: 10px 0;
        font-size: 1rem;
    }

    .locator-area {
        padding: 0;

        .scroll {
            padding: 0;
            font-size: 0.9rem;
    
            .type-class {
                color: rgb(121, 192, 255);
                background-color: rgba(121, 192, 255, 0.1);
                border-radius: 5px;
            }
    
            .text {
                padding-left: 8px;
            }
            
            .type-func {
                color: rgb(210, 168, 255);
                border-radius: 5px;
                background-color: rgba(210, 168, 255, 0.1);
            }
    
            .methods {
                padding-left: 35px;
    
                .method {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    transition: color .3s;
                }
                
                .method:active > .text {
                    color: #ffe44a;
                }
            }
    
            .function {
                padding: 6px 18px;
                transition: color .3s;
            }
            
            .function:active > .text {
                color: #ffe44a;
            }
    
            .hidden {
                display: none;
            }
    
        }
    }


}